<ion-header>
  <ion-navbar>
    <ion-title>
      About Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  This is a starter project that leverages AWS Mobile Hub services to power the app. The
  following services are utilized:

  <ul>
    <li>Cognito (Authentication)</li>
    <li>DynamoDB (Data Storage)</li>
    <li>S3 (File Storage)</li>
  </ul>

</ion-content>
